{% set beaver = salt['grains.filter_by']({
    'Debian': {
        'pip': 'python-pip',
        'python-virtualenv': 'python-virtualenv',
        'zmq': 'libzmq-dev',
    },
    'RedHat': {
        'pip': 'python-pip',
        'python-virtualenv': 'python-virtualenv',
        'zmq': 'zeromq-devel',
    },
}, merge=salt['pillar.get']('beaver:lookup')) %}
